.deposit {
  color: #fff;
  background-color: slateblue;
  margin: 0 20px;
  padding: 15px;
  border-radius: 8px;
}
.withdraw {
  color: #fff;
  background-color: lightsalmon;
  margin: 0 20px;
  padding: 15px;
  border-radius: 8px;
}
.balance {
  color: #fff;
  background-color: orange;
  margin: 0 20px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#transaction-area {
  display: none;
}

.submit-area {
  box-shadow: 5px 5px 5px 5px #bebebe;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
