body{
    background:#e6e6ea;
    font-family: Arial, Helvetica, sans-serif;
}

.cart-wrapper{
    margin:60px auto;
    background:#f3f3f8;
    padding:40px;
    border-radius:8px;
}

/* Cart Card */
.cart-item{
    background:#ffffff;
    padding:25px 20px;
    border-radius:10px;
    margin-bottom:25px;
    align-items:center;
}

/* Product Image */
.product-img{
    width:80px;
}

/* Product Name */
.product-name{
    font-size:18px;
    color:#333;
}

/* Quantity Design (Same Like Image) */
.quantity-box{
    display:flex;
    align-items:center;
    justify-content:center;
}

.qty-wrapper{
    display:flex;
    align-items:center;
    background:#f2f2f7;
    padding:5px;
    border-radius:8px;
    gap:5px;
}

.qty-btn{
    width:38px;
    height:38px;
    border:1px solid #ddd;
    background:#ffffff;
    border-radius:6px;
    font-size:20px;
    line-height:1;
}

.qty-input{
    width:45px;
    height:38px;
    text-align:center;
    border:none;
    background:transparent;
    font-weight:bold;
    font-size:16px;
}

/* Price */
.price{
    font-size:18px;
}

/* Remove */
.remove{
    font-size:22px;
    color:#ff4d4d;
    cursor:pointer;
}

/* Summary Box */
.summary-box{
    background:#ffffff;
    padding:25px;
    border-radius:10px;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    font-size:17px;
    margin-bottom:10px;
}

.checkout-btn{
    text-align:right;
    margin-top:30px;
}

.checkout-btn button{
    background:#2ecc71;
    border:none;
    padding:14px 45px;
    color:white;
    border-radius:6px;
    font-size:16px;
}

.checkout-btn button:hover{
    background:#27ae60;
}